body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh; }

@media screen and (max-width: 799px) {
  #desktop_nav {
    display: none; }

  #mobile_menu_icon {
    display: flex; }

  #mobile_nav {
    display: flex; } }
@media screen and (min-width: 800px) {
  #desktop_nav {
    display: flex; }

  #mobile_menu_icon {
    display: none; }

  #mobile_nav {
    display: none; } }
.logga_text {
  font-family: Tahoma, sans-serif;
  letter-spacing: 4px;
  font-size: 1.6em;
  font-weight: bold; }

#desktop_nav {
  background-color: #4caf50;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  width: 100vw;
  position: fixed;
  z-index: 100; }
  #desktop_nav p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 1em;
    color: white; }
    #desktop_nav p:hover {
      cursor: pointer; }
  #desktop_nav #left_nav, #desktop_nav #right_nav {
    width: 100%;
    height: 100%; }
  #desktop_nav .nav_wrapper {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  #desktop_nav #left_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px 0 20px; }
  #desktop_nav #center_nav {
    width: 50%;
    height: 100%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #desktop_nav #center_nav #desktop_nav_logga {
      font-family: Tahoma, sans-serif;
      font-size: 2em; }
    #desktop_nav #center_nav:hover {
      cursor: pointer; }
  #desktop_nav #right_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 20px 0 20px; }
    #desktop_nav #right_nav .nav_wrapper {
      max-width: 300px; }
    #desktop_nav #right_nav img {
      width: 32px; }

#mobile_menu {
  display: flex;
  flex-direction: column;
  background-color: #4caf50;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -120vw;
  z-index: 102;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 20vw black;
  align-items: center; }
  #mobile_menu #mobile_menu_logga {
    margin-top: 15vh;
    margin-bottom: 0;
    font-size: 3em;
    color: white; }
  #mobile_menu #mobile_links {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #mobile_menu #mobile_links p {
      font-size: 1.4em;
      font-family: "Open Sans", sans-serif;
      margin: 0;
      padding: 5px;
      color: white; }

.mobile_menu_animate_in {
  animation-duration: 0.7s;
  animation-name: mobile_menu_slide_in;
  animation-timing-function: ease-in-out; }

.mobile_menu_animate_out {
  animation-duration: 0.7s;
  animation-name: mobile_menu_slide_out;
  animation-timing-function: ease-in-out; }

@keyframes mobile_menu_slide_in {
  from {
    right: -120vw; }
  to {
    right: 0; } }
@keyframes mobile_menu_slide_out {
  from {
    right: 0; }
  to {
    right: -120vw; } }
#mobile_nav {
  position: fixed;
  background-color: #4caf50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  box-shadow: 0 0 20px black;
  z-index: 100;
  flex-direction: row; }
  #mobile_nav #left_M_nav {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #mobile_nav #left_M_nav #mobile_nav_logga {
      margin-left: 20px;
      color: white; }
  #mobile_nav #right_M_nav {
    width: 60vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center; }
    #mobile_nav #right_M_nav #mobile_search_icon {
      margin-right: 81px;
      width: 38px; }

#mobile_menu_icon {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 31px;
  height: 30px;
  flex-direction: column;
  padding: 5px;
  z-index: 104; }
  #mobile_menu_icon #top_bar, #mobile_menu_icon #middle_bar, #mobile_menu_icon #bottom_bar {
    width: 31px;
    height: 6px;
    background-color: white;
    border-radius: 3.1px; }
  #mobile_menu_icon #middle_bar {
    margin: 6px 0 6px 0; }

.top_bar_animate_in {
  animation-duration: 0.5s;
  animation-name: top_bar_rotate_down;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 100%; }

.top_bar_animate_out {
  animation-duration: 0.5s;
  animation-name: top_bar_rotate_up;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 100%; }

.middle_bar_animate_in {
  animation-duration: 0.3s;
  animation-name: middle_bar_fadeout;
  animation-timing-function: ease-in-out; }

.middle_bar_animate_out {
  animation-duration: 0.7s;
  animation-name: middle_bar_fadein;
  animation-timing-function: ease-in-out; }

.bottom_bar_animate_in {
  animation-duration: 0.5s;
  animation-name: bottom_bar_rotate_up;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 0; }

.bottom_bar_animate_out {
  animation-duration: 0.5s;
  animation-name: bottom_bar_rotate_down;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 0; }

@keyframes top_bar_rotate_down {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-45deg); } }
@keyframes top_bar_rotate_up {
  from {
    transform: rotate(-45deg); }
  to {
    transform: rotate(0deg); } }
@keyframes middle_bar_fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes middle_bar_fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes bottom_bar_rotate_up {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(45deg); } }
@keyframes bottom_bar_rotate_down {
  from {
    transform: rotate(45deg); }
  to {
    transform: rotate(0deg); } }
#loading_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99; }
  #loading_div img {
    position: fixed;
    top: calc(50vh - (291px/2));
    left: calc(50vw - (441px/2));
    width: 441px; }

.fade_in_animation {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-timing-function: linear; }

.fade_out_animation {
  animation-duration: 0.5s;
  animation-name: fadeout;
  animation-timing-function: linear; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.button-read_more {
  border: none;
  background-color: #2E7D32;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border-radius: 8px;
  padding: 5px 20px 5px 20px;
  color: white;
  margin-top: 40px; }
  .button-read_more:hover {
    cursor: pointer; }

#loaded_page {
  margin-top: 60px;
  display: flex;
  flex-direction: column; }
  #loaded_page #accessories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font-family: "Open Sans", sans-serif; }
    #loaded_page #accessories #accessories_info_text {
      margin: 0 5vh 30px 5vh; }
    #loaded_page #accessories .accessories_read_more_button {
      margin-top: auto;
      margin-bottom: auto; }
      @media screen and (max-width: 799px) {
        #loaded_page #accessories .accessories_read_more_button {
          margin-top: 20px;
          margin-bottom: 20px; } }
    #loaded_page #accessories #paijan_headphones_image {
      background: url("../images/headphones.bmp") no-repeat center center;
      background-size: cover; }
    #loaded_page #accessories #wireless_charger_image {
      background: url("../images/wireless_charger.jpg") no-repeat center center;
      background-size: cover; }
    #loaded_page #accessories .product_image {
      width: 50%; }
      @media screen and (max-width: 799px) {
        #loaded_page #accessories .product_image {
          flex-direction: column;
          width: 100%;
          min-height: 250px;
          height: 50%; } }
    #loaded_page #accessories .product_info {
      width: 50%;
      background-color: #E8F5E9;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media screen and (max-width: 799px) {
        #loaded_page #accessories .product_info {
          flex-direction: column;
          width: 100%;
          height: 50%; } }
      #loaded_page #accessories .product_info div {
        width: 90%; }
    #loaded_page #accessories #sound_devices, #loaded_page #accessories #charging_devices {
      display: flex;
      flex-direction: column;
      width: 80vw; }
      #loaded_page #accessories #sound_devices #paijan_headphones, #loaded_page #accessories #sound_devices #wireless_charger, #loaded_page #accessories #charging_devices #paijan_headphones, #loaded_page #accessories #charging_devices #wireless_charger {
        display: flex;
        flex-direction: row;
        min-height: 350px; }
        @media screen and (max-width: 799px) {
          #loaded_page #accessories #sound_devices #paijan_headphones, #loaded_page #accessories #sound_devices #wireless_charger, #loaded_page #accessories #charging_devices #paijan_headphones, #loaded_page #accessories #charging_devices #wireless_charger {
            flex-direction: column;
            min-height: 500px; } }
  #loaded_page #about_paijan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin-top: calc(80vh - 60px); }
  #loaded_page #bildspel_on_paijan #bild_1, #loaded_page #bildspel_on_paijan #bild_2, #loaded_page #bildspel_on_paijan #bild_3, #loaded_page #bildspel_on_paijan #bild_4 {
    width: 100vw;
    height: calc(80vh - 60px);
    position: absolute;
    top: 60px;
    left: 0;
    opacity: 0;
    background-size: cover; }
  #loaded_page #bildspel_on_paijan #bild_1 {
    z-index: 11;
    opacity: 1;
    background: url("../images/slideshow_1.jpg") no-repeat center center;
    background-size: cover; }
  #loaded_page #bildspel_on_paijan #bild_2 {
    background: url("../images/slideshow_2.jpg") no-repeat center center;
    background-size: cover; }
  #loaded_page #bildspel_on_paijan #bild_3 {
    background: url("../images/slideshow_3.jpg") no-repeat center center;
    background-size: cover; }
  #loaded_page #bildspel_on_paijan #bild_4 {
    background: url("../images/slideshow_4.bmp") no-repeat center center;
    background-size: cover; }
  #loaded_page .slideshow_fadeout {
    animation-duration: 0.5s;
    animation-name: slideshowfadeout;
    animation-timing-function: linear; }
@keyframes slideshowfadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
  #loaded_page #big_title {
    letter-spacing: 6px;
    font-size: 3.6em; }
  #loaded_page #information {
    display: flex;
    flex-direction: row;
    width: 90vw; }
    @media screen and (max-width: 799px) {
      #loaded_page #information {
        flex-direction: column;
        align-items: center; } }
    #loaded_page #information #info_text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      @media screen and (max-width: 799px) {
        #loaded_page #information #info_text {
          width: 100%; } }
    #loaded_page #information #info_image {
      width: 50%;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      @media screen and (max-width: 799px) {
        #loaded_page #information #info_image {
          width: 80%; } }
      #loaded_page #information #info_image img {
        width: 100%; }
  #loaded_page #comparison {
    width: 95vw; }
    #loaded_page #comparison #comp_images {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      #loaded_page #comparison #comp_images .comp_image {
        width: 45%; }
        #loaded_page #comparison #comp_images .comp_image img {
          width: 90%; }
    #loaded_page #comparison #comp_table {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      #loaded_page #comparison #comp_table table {
        width: 80%; }
        #loaded_page #comparison #comp_table table th {
          font-weight: bold; }
          #loaded_page #comparison #comp_table table th p {
            margin: 5px 0 5px 0; }
        #loaded_page #comparison #comp_table table td {
          width: 33%;
          text-align: center; }
          #loaded_page #comparison #comp_table table td p {
            margin: 5px 0 5px 0; }
        @media screen and (max-width: 799px) {
          #loaded_page #comparison #comp_table table {
            width: 100%; } }
      #loaded_page #comparison #comp_table #comp_small_text {
        margin-top: 30px; }
        #loaded_page #comparison #comp_table #comp_small_text p {
          margin: 0;
          font-size: 0.5em; }
  #loaded_page #error_main {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin-left: 20px; }
  #loaded_page .display {
    width: 100vw;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 30px 0; }
    #loaded_page .display h1 {
      font-family: "Open Sans", sans-serif; }
    #loaded_page .display .display_info_div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
    #loaded_page .display input[type="button"] {
      border: none;
      background-color: #2E7D32;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      border-radius: 8px;
      padding: 5px 20px 5px 20px;
      color: white;
      margin-top: 40px; }
      #loaded_page .display input[type="button"]:hover {
        cursor: pointer; }
    @media screen and (min-width: 800px) {
      #loaded_page .display .display_info_div {
        max-width: 50vw; }
      #loaded_page .display .display_img {
        width: 50vmin; }
      #loaded_page .display .mobile_read_more_button {
        display: none; }
      #loaded_page .display .desktop_read_more_button {
        display: flex; } }
    @media screen and (max-width: 799px) {
      #loaded_page .display {
        flex-direction: column; }
        #loaded_page .display .display_info_div {
          width: 90vw;
          justify-content: center;
          align-items: center; }
        #loaded_page .display .display_img {
          width: 70vmin; }
        #loaded_page .display .mobile_read_more_button {
          display: flex; }
        #loaded_page .display .desktop_read_more_button {
          display: none; } }
  #loaded_page #display_1 {
    background-color: white; }
  #loaded_page #display_2 {
    background-color: #E8F5E9; }
  #loaded_page #display_3 {
    background-color: white; }
  @media screen and (max-width: 799px) {
    #loaded_page .display_info_div {
      width: 90vw;
      justify-content: center; }
    #loaded_page .display_img {
      width: 50vmin; }
    #loaded_page #display_1, #loaded_page #display_3 {
      flex-direction: column-reverse; } }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: #4caf50;
  height: 80px;
  font-family: "Open Sans", sans-serif;
  margin-top: 5vh;
  color: white; }
  @media screen and (max-width: 799px) {
    footer {
      font-size: 0.7em;
      height: 100px;
      flex-direction: column; } }
  footer p {
    font-size: 0.8em;
    margin: 0 10px 0 10px; }
    @media screen and (max-width: 799px) {
      footer p {
        margin: 5px 0 5px 0; } }

/*# sourceMappingURL=index.css.map */
