@mixin about-paijan {
  #about_paijan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin-top: calc(80vh - #{$nav_bar_height});
  }

  #bildspel_on_paijan {
    #bild_1, #bild_2, #bild_3, #bild_4 {
      width: 100vw;
      height: calc(80vh - #{$nav_bar_height});
      position: absolute;
      top: $nav_bar_height;
      left: 0;
      opacity: 0;
      background-size: cover;
    }

    #bild_1 {
      z-index: 11;
      opacity: 1;
      background: url("../images/slideshow_1.jpg") no-repeat center center;
      background-size: cover;
    }

    #bild_2 {
      background: url("../images/slideshow_2.jpg") no-repeat center center;
      background-size: cover;
    }

    #bild_3 {
      background: url("../images/slideshow_3.jpg") no-repeat center center;
      background-size: cover;
    }

    #bild_4 {
      background: url("../images/slideshow_4.bmp") no-repeat center center;
      background-size: cover;
    }
  }

  .slideshow_fadeout {
    animation-duration: 0.5s;
    animation-name: slideshowfadeout;
    animation-timing-function: linear;
  }

  @keyframes slideshowfadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  #big_title {
    letter-spacing: 6px;
    font-size: 3.6em;
  }

  #information {
    display: flex;
    flex-direction: row;
    width: 90vw;

    @media screen and (max-width: $max_mobile_width) {
      flex-direction: column;
      align-items: center;
    }

    #info_text {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      @media screen and (max-width: $max_mobile_width) {
        width: 100%;
      }
    }

    #info_image {
      width: 50%;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: $max_mobile_width) {
        width: 80%;
      }

      img {
        width: 100%;
      }
    }
  }

  #comparison {
    width: 95vw;

    #comp_images {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .comp_image {
        width: 45%;

        img {
          width: 90%;
        }
      }
    }

    #comp_table {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      table {
        width: 80%;

        th {
          font-weight: bold;
          p {
            margin: 5px 0 5px 0;
          }
        }

        td {
          width: 33%;
          text-align: center;
          p {
            margin: 5px 0 5px 0;
          }
        }

        @media screen and (max-width: $max_mobile_width) {
          width: 100%;
        }
      }

      #comp_small_text  {
        margin-top: 30px;
        p {
          margin: 0;
          font-size: 0.5em;
        }
      }
    }
  }
}