@mixin home() {
  display: flex;
  flex-direction: column;
  align-items: center;

  .display {
    width: 100vw;
    min-height: calc(100vh - #{($nav_bar_height + $footer_height)});
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 30px 0;

    h1 {
      font-family: "Open Sans", sans-serif;
    }

    @media screen and (min-width: $max_mobile_width + 1px) {
      .display_info_div {
        max-width: 40vmin;
      }

      .display_img {
        width: 50vmin;
      }

      .mobile_read_more_button {
        display: none;
      }

      .desktop_read_more_button {
        display: flex;
      }
    }

    @media screen and (max-width: $max_mobile_width) {
      flex-direction: column;

      .display_info_div {
        width: 90vw;
        justify-content: center;
        text-align: center;
      }

      .display_img {
        width: 70vmin;
      }

      .mobile_read_more_button {
        display: flex;
      }

      .desktop_read_more_button {
        display: none;
      }
    }

    input[type="button"] {
      //border: solid #0D47A1 2px;
      border: none;
      background-color: #2E7D32;
      font-family: "Open Sans", sans-serif;
      font-size: 1em;
      border-radius: 5px;
      padding: 5px 20px 5px 20px;
      color: white;

      &:hover {
        cursor: pointer;
        //background-color: rgba(0,0,0,0.05);
      }
    }
  }

  #display_1 {
    background-color: white;
  }

  #display_2 {
    background-color: #E8F5E9;
  }

  #display_3 {
    background-color: white;
  }

  @media screen and (max-width: $max_mobile_width) {
    .display_info_div {
      width: 90vw;
      justify-content: center;
    }

    .display_img {
      width: 50vmin;
    }

    #display_1, #display_3 {
      flex-direction: column-reverse;
    }
  }
}