@import "about-paijan";
@import "accessories";
@import "faq";
@import "support";
@import "error_page";

$max_mobile_width: 799px;

$menu_icon_width: 31px;
$menu_icon_height: 30px;

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

@media screen and (max-width: $max_mobile_width) {
  #desktop_nav {
    display: none;
  }

  #mobile_nav {
    display: flex;
  }
}

@media screen and (min-width: $max_mobile_width + 1px) {
  #desktop_nav {
    display: flex;
  }

  #mobile_nav {
    display: none;
  }
}

#desktop_nav {
  flex-direction: row;
  justify-content: center;
  height: 80px;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  z-index: 100;

  p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 1em;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .nav_title:hover {
    cursor: pointer;
    font-weight: bold;
  }

  #left_nav, #right_nav{
    width: 100%;
    height: 80%;
  }

  .nav_wrapper {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #left_nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: -12px 2px 20px black;
    margin-right: 7vw;
    border-bottom-right-radius: 40px;
    padding:  0 20px 0 20px;
  }

  #center_nav {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 101;
    box-shadow: 0 0 25px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 70%;
      z-index: 102;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #right_nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 12px 2px 20px black;
    margin-left: 7vw;
    border-bottom-left-radius: 40px;
    padding:  0 20px 0 20px;

    .nav_wrapper {
      max-width: 300px;
    }

    img {
      width: 32px;
    }
  }
}

#mobile_menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -120vw;
  z-index: 102;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 20vw black;
  align-items: center;

  img {
    width: 200px;
    height: 40px;
    margin-top: 10vh;
  }

  #mobile_links {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.4em;
      font-family: "Open Sans", sans-serif;
      margin: 0;
      padding: 5px;
    }
  }
}

.mobile_menu_animate_in {
  animation-duration: 0.7s;
  animation-name: mobile_menu_slide_in;
  animation-timing-function: ease-in-out;
}

.mobile_menu_animate_out {
  animation-duration: 0.7s;
  animation-name: mobile_menu_slide_out;
  animation-timing-function: ease-in-out;
}

@keyframes mobile_menu_slide_in {
  from {
    right: -120vw;
  }
  to {
    right: 0;
  }
}

@keyframes mobile_menu_slide_out {
  from {
    right: 0;
  }
  to {
    right: -120vw;
  }
}


#mobile_nav {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  box-shadow: 0 0 20px black;
  z-index: 100;
  flex-direction: row;

  #left_M_nav {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
      margin-left: 10px;
      width: 120px;
    }
  }

  #right_M_nav {
    width: 60vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    #mobile_search_icon {
      margin-right: 30px + $menu_icon_width + 20px;
      width: 38px;
    }
  }
}

#menu_icon {
  position: fixed;
  top: 25px - ($menu_icon_height / 2);
  right: 20px;
  width: $menu_icon_width;
  height: $menu_icon_height;
  display: flex;
  flex-direction: column;
  padding: 5px;
  z-index: 104;

  #top_bar, #middle_bar, #bottom_bar {
    width: $menu_icon_width;
    height: $menu_icon_height/5;
    background-color: black;
    border-radius: $menu_icon_width / 10;
  }

  #middle_bar {
    margin: $menu_icon_height/5 0 $menu_icon_height/5 0;
  }
}

.top_bar_animate_in {
  animation-duration: 0.5s;
  animation-name: top_bar_rotate_down;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 100%;
}

.top_bar_animate_out {
  animation-duration: 0.5s;
  animation-name: top_bar_rotate_up;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 100%;
}

.middle_bar_animate_in {
  animation-duration: 0.3s;
  animation-name: middle_bar_fadeout;
  animation-timing-function: ease-in-out;
}

.middle_bar_animate_out {
  animation-duration: 0.7s;
  animation-name: middle_bar_fadein;
  animation-timing-function: ease-in-out;
}

.bottom_bar_animate_in {
  animation-duration: 0.5s;
  animation-name: bottom_bar_rotate_up;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 0;
}


.bottom_bar_animate_out {
  animation-duration: 0.5s;
  animation-name: bottom_bar_rotate_down;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 0;
}

@keyframes top_bar_rotate_down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes top_bar_rotate_up {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes middle_bar_fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes middle_bar_fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bottom_bar_rotate_up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes bottom_bar_rotate_down {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#loading_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99;

  img {
    position: fixed;
    top: calc(50vh - (291px/2));
    left: calc(50vw - (441px/2));
    width: 441px;
  }
}

.fade_in_animation {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-timing-function: linear;
}

.fade_out_animation {
  animation-duration: 0.5s;
  animation-name: fadeout;
  animation-timing-function: linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#loaded_page {
  margin-top: 90px;

  @include faq;
  @include accessories;
  @include support;
  @include about-paijan;
  @include error_page;
}

footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: lightgray;
  height: 80px;
}