@import "about-paijan";
@import "accessories";
@import "support";
@import "error_page";
@import "home";
@import "mixins/design";

$max_mobile_width: 799px;

$menu_icon_width: 31px;
$menu_icon_height: 30px;

$nav_bar_height: 60px;
$footer_height: 80px;
$footer_mobile_height: 100px;
$nav_background_color: rgba(76, 175, 80, 1);

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

@media screen and (max-width: $max_mobile_width) {
  #desktop_nav {
    display: none;
  }

  #mobile_menu_icon {
    display: flex;
  }

  #mobile_nav {
    display: flex;
  }
}

@media screen and (min-width: $max_mobile_width + 1px) {
  #desktop_nav {
    display: flex;
  }

  #mobile_menu_icon {
    display: none;
  }

  #mobile_nav {
    display: none;
  }
}

.logga_text {
  font-family: Tahoma, sans-serif;
  letter-spacing: 4px;
  font-size: 1.6em;
  font-weight: bold;
}

#desktop_nav {
  background-color: $nav_background_color;
  flex-direction: row;
  justify-content: center;
  height: $nav_bar_height;
  width: 100vw;
  position: fixed;
  z-index: 100;

  p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 1em;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  #left_nav, #right_nav{
    width: 100%;
    height: 100%;
  }

  .nav_wrapper_left {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .nav_wrapper_right {
    width: 100%;
    max-width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #left_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:  0 20px 0 20px;
  }

  #center_nav {
    width: 50%;
    height: 100%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    #desktop_nav_logga {
      font-family: Tahoma, sans-serif;
      font-size: 2em;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #right_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:  0 20px 0 20px;

    .nav_wrapper {
      max-width: 300px;
    }

    img {
      width: 32px;
    }
  }
}

#mobile_menu {
  display: flex;
  flex-direction: column;
  background-color: $nav_background_color;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -120vw;
  z-index: 102;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 20vw black;
  align-items: center;

  #mobile_menu_logga {
    margin-top: 15vh;
    margin-bottom: 0;
    font-size: 3em;
    color: white;
  }

  #mobile_links {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 1.4em;
      font-family: "Open Sans", sans-serif;
      margin: 0;
      padding: 5px;
      color: white;
    }
  }
}

.mobile_menu_animate_in {
  animation-duration: 0.7s;
  animation-name: mobile_menu_slide_in;
  animation-timing-function: ease-in-out;
}

.mobile_menu_animate_out {
  animation-duration: 0.7s;
  animation-name: mobile_menu_slide_out;
  animation-timing-function: ease-in-out;
}

@keyframes mobile_menu_slide_in {
  from {
    right: -120vw;
  }
  to {
    right: 0;
  }
}

@keyframes mobile_menu_slide_out {
  from {
    right: 0;
  }
  to {
    right: -120vw;
  }
}


#mobile_nav {
  position: fixed;
  background-color: $nav_background_color;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  box-shadow: 0 0 20px black;
  z-index: 100;
  flex-direction: row;

  #left_M_nav {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #mobile_nav_logga {
      margin-left: 20px;
      color: white;
    }
  }

  #right_M_nav {
    width: 60vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    #mobile_search_icon {
      margin-right: 30px + $menu_icon_width + 20px;
      width: 38px;
    }
  }
}

#mobile_menu_icon {
  position: fixed;
  top: 25px - ($menu_icon_height / 2);
  right: 20px;
  width: $menu_icon_width;
  height: $menu_icon_height;
  flex-direction: column;
  padding: 5px;
  z-index: 104;

  #top_bar, #middle_bar, #bottom_bar {
    width: $menu_icon_width;
    height: $menu_icon_height/5;
    background-color: white;
    border-radius: $menu_icon_width / 10;
  }

  #middle_bar {
    margin: $menu_icon_height/5 0 $menu_icon_height/5 0;
  }
}

.top_bar_animate_in {
  animation-duration: 0.5s;
  animation-name: top_bar_rotate_down;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 100%;
}

.top_bar_animate_out {
  animation-duration: 0.5s;
  animation-name: top_bar_rotate_up;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 100%;
}

.middle_bar_animate_in {
  animation-duration: 0.3s;
  animation-name: middle_bar_fadeout;
  animation-timing-function: ease-in-out;
}

.middle_bar_animate_out {
  animation-duration: 0.7s;
  animation-name: middle_bar_fadein;
  animation-timing-function: ease-in-out;
}

.bottom_bar_animate_in {
  animation-duration: 0.5s;
  animation-name: bottom_bar_rotate_up;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 0;
}


.bottom_bar_animate_out {
  animation-duration: 0.5s;
  animation-name: bottom_bar_rotate_down;
  animation-timing-function: ease-in-out;
  transform-origin: 100% 0;
}

@keyframes top_bar_rotate_down {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes top_bar_rotate_up {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes middle_bar_fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes middle_bar_fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bottom_bar_rotate_up {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes bottom_bar_rotate_down {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

#loading_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99;

  img {
    position: fixed;
    top: calc(50vh - (291px/2));
    left: calc(50vw - (441px/2));
    width: 441px;
  }
}

.fade_in_animation {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-timing-function: linear;
}

.fade_out_animation {
  animation-duration: 0.5s;
  animation-name: fadeout;
  animation-timing-function: linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include design;

#loaded_page {
  margin-top: $nav_bar_height;
  display: flex;
  flex-direction: column;

  @include accessories;
  @include support;
  @include about-paijan;
  @include error_page;
  @include home;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: $nav_background_color;
  height: $footer_height;
  font-family: "Open Sans", sans-serif;
  margin-top: 5vh;
  color: white;

  @media screen and (max-width: $max_mobile_width) {
    font-size: 0.7em;
    height: $footer_mobile_height;
    flex-direction: column;
  }

  p {
    font-size: 0.8em;
    margin: 0 10px 0 10px;

    @media screen and (max-width: $max_mobile_width) {
      margin: 5px 0 5px 0;
    }
  }
}