body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80px;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  z-index: 100;

  p {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 1em;

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .nav_title:hover {
    cursor: pointer;
    font-weight: bold;
  }

  #left_nav, #right_nav{
    width: 100%;
    height: 80%;
  }

  .nav_wrapper {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #left_nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: -12px 2px 20px black;
    margin-right: 60px;
    border-bottom-right-radius: 40px;
    padding:  0 20px 0 20px;
  }

  #center_nav {
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 101;
    box-shadow: 0 0 25px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 70%;
      z-index: 102;
    }

    &:hover {
      cursor: pointer;
    }
  }

  #right_nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 12px 2px 20px black;
    margin-left: 60px;
    border-bottom-left-radius: 40px;
    padding:  0 20px 0 20px;

    .nav_wrapper {
      max-width: 300px;
    }

    img {
      width: 32px;
    }
  }
}

#loading_div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 99;

  img {
    position: fixed;
    top: calc(50vh - (291px/2));
    left: calc(50vw - (441px/2));
    width: 441px;
  }
}

.fade_in_animation {
  animation-duration: 0.5s;
  animation-name: fadein;
  animation-timing-function: linear;
}

.fade_out_animation {
   animation-duration: 0.5s;
   animation-name: fadeout;
   animation-timing-function: linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#loaded_page {
  position: absolute;
  top: 90px;
  left: 0;

  #test {
    color: green;
  }
}

footer {
  display: none;
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: lightgray;
  height: 80px;
}